
<h1 class="text-center mt-3">Login Form</h1>
<hr class="text-white text-lg">


<div class="row">
<div class="col-md-3 col-sm-2">

</div>
<div class="col-lg-6 col-sm-8 col-12 mt-3">
<form #ref="ngForm" (ngSubmit)="ref.form.valid && onClickLogin(ref)">
 
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="type" id="flexRadioDefault1" ngModel value="user">
    <label class="form-check-label" for="flexRadioDefault1">
      User
    </label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="type" id="flexRadioDefault2" checked  ngModel value="admin">
    <label class="form-check-label" for="flexRadioDefault2">
      admin
    </label>
  
</div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="example1" placeholder="User Name" name="username" 
      ngModel required #ref1="ngModel">
        <p class="text-warning mt-1" *ngIf="((ref.submitted || ref1.touched) && ref1.errors?.required)">* Username is required</p>
      <label for="example1" >UserName</label>
    
      
    </div>
    <div class="mb-3 form-floating">
        <input type="password" class="form-control" id="exampleInputPassword1"  placeholder="password" name="Password"
         ngModel  autocomplete="off" required #ref2="ngModel">
         <p class="text-warning mt-1" *ngIf="((ref.submitted || ref2.touched) && ref2.errors?.required)">* Password is required</p>
      <label for="exampleInputPassword1" >Password</label>
      
    </div>
    <button type="submit" class="btn btn-primary d-block mx-auto">Login</button>
  </form>
</div>
<div class="col-md-3 col-sm-2">

</div>


</div>